/Santiago/POO_Figuras/target/
/Santiago/2. Operadores/Operadores/target/
/Santiago/2. Operadores/Ejercicio2Salario/target/
/Santiago/2. Operadores/Ejercicio3Dolares/target/
/Santiago/2. Operadores/Ejercicio4Calificacion/target/
/Santiago/2. Operadores/Ejercicio4Carros/target/
/Santiago/2. Operadores/Ejercicio6Cuadratica/target/
/Santiago/2. Operadores/Ejercicio7Horas/target/
/Santiago/2. Operadores/Ejercicio8Raices/target/
/Santiago/3. Condicionales/Ejercicio1Multiplo10/target/
/Santiago/3. Condicionales/Ejercicio2Mayor/target/
/Santiago/3. Condicionales/Ejercicio3Mayuscula/target/
