/Santiago/POO_Figuras/target/
/Santiago/2. Operadores/Operadores/target/
/Santiago/2. Operadores/Ejercicio2Salario/target/
/Santiago/2. Operadores/Ejercicio3Dolares/target/
/Santiago/2. Operadores/Ejercicio4Calificacion/target/
/Santiago/2. Operadores/Ejercicio4Carros/target/
/Santiago/2. Operadores/Ejercicio6Cuadratica/target/
/Santiago/2. Operadores/Ejercicio7Horas/target/
/Santiago/2. Operadores/Ejercicio8Raices/target/
/Santiago/3. Condicionales/Ejercicio1Multiplo10/target/
/Santiago/3. Condicionales/Ejercicio2Mayor/target/
/Santiago/3. Condicionales/Ejercicio3Mayuscula/target/
/Santiago/3. Condicionales/Ejercicio4Descuento/target/
/Santiago/3. Condicionales/Ejercicio5Obrero/target/
/Santiago/3. Condicionales/Ejercicio6Primos/target/
/Santiago/3. Condicionales/Ejercicio7MayorMenor/target/
/Santiago/3. Condicionales/Ejercicio8Cifras/target/
/Santiago/3. Condicionales/Ejercicio9Meses/target/
/Santiago/3. Condicionales/Ejercicio10Calculadora/target/
/Santiago/3. Condicionales/Ejercicio12Nota/target/
/Santiago/3. Condicionales/Ejercicio14Conversion/target/
/Santiago/4. Bucles/Ejercicio1Cuadrado/target/
/Santiago/4. Bucles/Ejercicio2Positivo/target/
/Santiago/4. Bucles/Ejercicio3LeerNo/target/
/Santiago/4. Bucles/mavenproject1Negativo/target/
/Santiago/4. Bucles/Ejercicio5Adivinanza/target/
/Santiago/4. Bucles/Ejercicio6Suma/target/
/Santiago/4. Bucles/Ejercicio7Media/target/
/Santiago/4. Bucles/Ejercicio8MostrarNo/target/
/Santiago/4. Bucles/Ejercicio9Escribir/target/
/Santiago/4. Bucles/Ejercicio11Producto/target/
/Santiago/4. Bucles/Ejercicio12Factorial/target/
/Santiago/4. Bucles/Ejercicio13Versatil/target/
/Santiago/4. Bucles/Ejercicio14Sueldos/target/
/Santiago/4. Bucles/Ejericio15Edades/target/
/Santiago/4. Bucles/Ejercicio16Tablas/target/
/Santiago/4. Bucles/Ejercicio17Facturas/target/
/Santiago/4. Bucles/Ejercicio19Alumnos/target/
/Santiago/4. Bucles/Ejercicio20NSueldos/target/
/Santiago/4. Bucles/Ejercicio21MostrarNegativo/target/
/Santiago/5. Arreglos/Ejercicio1Leer/target/
/Santiago/5. Arreglos/Ejercicio2Inverso/target/
/Santiago/5. Arreglos/Ejercicio3Media/target/
/Santiago/5. Arreglos/Ejercicio4Gauss/target/
/Santiago/5. Arreglos/Ejercicio5String/target/
/Santiago/5. Arreglos/Ejercicio6Mezclas/target/
/Santiago/5. Arreglos/Ejercicio7Orden/target/
/Santiago/5. Arreglos/Ejercicio8Aplicacion/target/
/Santiago/5. Arreglos/Ejercicio9Dezplazando/target/
/Santiago/5. Arreglos/Ejercicio10NDesplazo/target/
/Santiago/5. Arreglos/Ejercicio11Orden/target/
/Santiago/5. Arreglos/Ejercicio12Eliminar/target/
/Santiago/5. Arreglos/Ejercicio13ParesImpares/target/
/Santiago/5. Arreglos/Ejercicio14Copiar/target/
/Santiago/5. Arreglos/Ejercicio15Buscar/target/
/Santiago/5. Arreglos/Ejercicio16AppNotas/target/
/Santiago/6. Metodos de Ordenamiento/MetodoBurbuja/target/
/Santiago/6. Metodos de Ordenamiento/OrdenamientoInsercion/target/
/Santiago/6. Metodos de Ordenamiento/OrdenamientoSeleccion/target/
/Santiago/7. Matrices/Ejercicio1Simetrico/target/
/Santiago/7. Matrices/Ejercicio2Suma/target/
/Santiago/7. Matrices/Ejercicio3Transponer/target/
/Santiago/7. Matrices/Ejercicio4Identidad/target/
/Santiago/7. Matrices/Ejercicio5SumaFilCol/target/
/Santiago/7. Matrices/Ejercicio6Transponerla/target/
/Santiago/7. Matrices/Ejercicio7Marco/target/
/Santiago/8. POO/Ejercicio1Cuadrilatero/target/
/Santiago/8. POO/Ejercicio2Movimiento/target/
/Santiago/8. POO/Ejercicio3Barato/target/
/Santiago/8. POO/Ejercicio4Atletas/target/
/Santiago/8. POO/Ejercicio5Isosceles/target/
/Santiago/8. POO/Ejercicio6NumerosComplejos/target/
/Santiago/8. POO/Ejercicio7Banco/target/
/Santiago/8. POO/Ejercicio7BancoVideo/target/
/Santiago/8. POO/Ejercicio8Envios/target/
/Santiago/8. POO/Ejercicio9Poligonos/target/
/Santiago/8. POO/Ejercicio10Futbol/target/
/Santiago/9. Poyecto POO Aereopuerto/ProyectoAereopuerto/target/
/Santiago/10. Tratamiento de Excepciones/Excepciones/target/
/Santiago/11. Interfaces Graficas de Usuario/Interfaces/target/
/Santiago/11. Interfaces Graficas de Usuario/InterfacesGraficas/target/
/Santiago/11. Interfaces Graficas de Usuario/ClicksModernos/target/
