/Santiago/POO_Figuras/target/
/Santiago/2. Operadores/Operadores/target/
/Santiago/2. Operadores/Ejercicio2Salario/target/
/Santiago/2. Operadores/Ejercicio3Dolares/target/
/Santiago/2. Operadores/Ejercicio4Calificacion/target/
/Santiago/2. Operadores/Ejercicio4Carros/target/
/Santiago/2. Operadores/Ejercicio6Cuadratica/target/
/Santiago/2. Operadores/Ejercicio7Horas/target/
/Santiago/2. Operadores/Ejercicio8Raices/target/
/Santiago/3. Condicionales/Ejercicio1Multiplo10/target/
/Santiago/3. Condicionales/Ejercicio2Mayor/target/
/Santiago/3. Condicionales/Ejercicio3Mayuscula/target/
/Santiago/3. Condicionales/Ejercicio4Descuento/target/
/Santiago/3. Condicionales/Ejercicio5Obrero/target/
/Santiago/3. Condicionales/Ejercicio6Primos/target/
/Santiago/3. Condicionales/Ejercicio7MayorMenor/target/
/Santiago/3. Condicionales/Ejercicio8Cifras/target/
/Santiago/3. Condicionales/Ejercicio9Meses/target/
/Santiago/3. Condicionales/Ejercicio10Calculadora/target/
/Santiago/3. Condicionales/Ejercicio12Nota/target/
/Santiago/3. Condicionales/Ejercicio14Conversion/target/
/Santiago/4. Bucles/Ejercicio1Cuadrado/target/
/Santiago/4. Bucles/Ejercicio2Positivo/target/
/Santiago/4. Bucles/Ejercicio3LeerNo/target/
/Santiago/4. Bucles/mavenproject1Negativo/target/
